<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="SenderEmail" value="miemailaca@gmail.com"/>
    <add key="SenderPassword" value="miclave"/>
  </appSettings>
</configuration>